<h1 style="color: #5e9ca0;">Welcome <%=@email%>,</h1>
<p>Thankyou for signing up to our new application.</p>
<p>Our application lets you manage the following things -:</p>
<ul style="list-style-type: disc;">
<li><em><span style="color: #000000;">Store your basic information along with medical details.</span></em></li>
<li><em><span style="color: #000000;">You can store all your education details.</span></em></li>
<li><em><span style="color: #000000;">Store and manage all your documents category wise.</span></em></li>
<li><em><span style="color: #000000;">You can feed your income and expenses on monthly basis and can see the net amount spend or recieved in the entire month.</span></em></li>
<li><em><span style="color: #000000;">Also,to be visually more appealing we have included charts on monthly basis.Our app shows you your last one year expenses/incomes and thus lets you manage your budget.</span></em></li>
</ul>
<p><span style="color: #000080;">&nbsp;</span></p>
<p>We hope our application helps you.</p>
<p><strong>Enjoy!</strong><img src="https://html-online.com/editor/tinymce/plugins/emoticons/img/smiley-smile.gif" alt="smile" /></p>
<p><strong>Team DigitalLife</strong></p>
<p><strong>&nbsp;</strong></p>