<h2>Detail about the Type</h2><br />  
<table border='1'>
		<thead>
			<tr>
			<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			    <td><%=@type.name%></td>
			</tr>
		</tbody>
</table>
<%=link_to "Update detail",edit_type_path(@type.id)%> 